<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>

  <tbody>
    <% @posts.each do |post| %>
      <p>
        <strong>Body:</strong>
        <%= post.body %>
      </p>

      <p>
        <strong>User:</strong>
        <%= post.user.name %>
      </p>
      <span class = "parent-likes">
        <span class = "like_count" <%= post.id %>'>
          <%= post.get_likes.size %> &#128591
        </span>

        <a>
          <% if current_user.liked?post %>
            <div><%= link_to like_post_path(post, 'unlike'), class: "preached-btn", method: :put,remote:true do %>
              Liked
            </div>
            <% end %>
          <% else %>
            <div> <%= link_to like_post_path(post, 'like'), class: "preached-btn", method: :put,remote:true do %>
              Like
            </div>
            <% end %>
          <% end %>
        <a>
      </span></br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
