console.log("hii")
$('.preached_btn').on('ajax:sucess', function(){
    $(this).parent().find('.like_count')
    .html('<%= @post.get_likes.size %> &#128591');
    console.log(<%= @post.get_likes.size %>);
    $(this).closet('.preached_btn').html('Like');
});

$('.preached_btn').on('ajax:sucess', function(){
    $(this).parent().find('.like_count')
    .html('<%= @post.get_likes.size %> &#128591');
    $(this).closet('.preached_btn').html('Liked');
});
