<!DOCTYPE html>
<html>
  <head>
    <title>Social Networking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
  <body>
    <%= render 'partials/navbar' %></br></br></br>
    <div class = "container">
      <%= yield %>
    </div>
  </body>
</html>
